---
import Logo from '~/components/Logo.astro';
import { t } from '~/i18n';
import { DEFAULT_LOCALE } from '~/i18n/locales';
import { detectLocale, withLocale } from '~/lib/hreflang';

interface Props {
	version?: string;
	lastUpdated?: string;
}

const { version = '0.9.2', lastUpdated = '05/28/26' } = Astro.props;
const lang = detectLocale(Astro.url.pathname);
const homeHref = lang === DEFAULT_LOCALE ? '/' : `/${lang}/`;
---
<footer class="footer">
	<div class="footer-inner">
		<div>
			<a href={homeHref} class="brand">
				<Logo size={26} />
				{t(lang, 'nav.brand')}
			</a>
			<p class="footer-colophon">{t(lang, 'footer.brandTagline')}</p>
		</div>
		<div>
			<h4>{t(lang, 'footer.sections.products')}</h4>
			<ul>
				<li><a href={withLocale('/reader/', lang)}>{t(lang, 'footer.links.slaxReader')}</a></li>
				<li><a href={withLocale('/note/', lang)}>{t(lang, 'footer.links.slaxNote')}</a></li>
			</ul>
		</div>
		<div>
			<h4>{t(lang, 'footer.sections.reader')}</h4>
			<ul>
				<li><a href={withLocale('/reader/changelog/', lang)}>{t(lang, 'footer.links.whatsNew')}</a></li>
				<li><a href={withLocale('/reader/alternatives/', lang)}>{t(lang, 'footer.links.vsAlternatives')}</a></li>
				<li><a href={withLocale('/reader/blog/', lang)}>{t(lang, 'footer.links.blog')}</a></li>
			</ul>
		</div>
		<div>
			<h4>{t(lang, 'footer.sections.note')}</h4>
			<ul>
				<li><a href={withLocale('/note/changelog/', lang)}>{t(lang, 'footer.links.whatsNew')}</a></li>
				<li><a href={withLocale('/note/alternatives/', lang)}>{t(lang, 'footer.links.vsAlternatives')}</a></li>
				<li><a href={withLocale('/note/blog/', lang)}>{t(lang, 'footer.links.blog')}</a></li>
			</ul>
		</div>
		<div>
			<h4>{t(lang, 'footer.sections.company')}</h4>
			<ul>
				<li><a href={withLocale('/about/', lang)}>{t(lang, 'footer.links.about')}</a></li>
				<li><a href={withLocale('/privacy/', lang)}>{t(lang, 'footer.links.privacy')}</a></li>
				<li><a href={withLocale('/terms/', lang)}>{t(lang, 'footer.links.terms')}</a></li>
				<li><a href="/rss.xml">{t(lang, 'footer.links.rss')}</a></li>
			</ul>
		</div>
		<div class="footer-meta">
			<span>{t(lang, 'footer.copyright')}</span>
			<span>{t(lang, 'footer.versionMeta', { version, lastUpdated })}</span>
		</div>
	</div>
</footer>

